body {
  //max-width: 1440px;

}

.reveal {
  opacity: 0;
  transform: translate3d(0, 1.125rem, 0);
}

.revealed {
  transition: opacity .7s, transform .5s;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.mw-1440 {
  max-width: 1440px !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
  opacity: 1 !important;
}

.slick-dots {
  bottom: 15px !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
  opacity: 0.43 !important;
  color: #fff !important;
  //top: -40px;
}

.pattern {
  transform: translate(-50%, 50%);
}


.section {
  padding-top: cl(30px, 175px);
  padding-bottom: cl(30px, 175px);

  &-xs {
    padding-top: cl(30px, 100px);
    padding-bottom: cl(30px, 100px);
  }

  &-sm {
    padding-top: cl(30px, 135px);
    padding-bottom: cl(30px, 135px);
  }

  &-md {
    padding-top: cl(30px, 200px);
    padding-bottom: cl(30px, 30px);
  }

  &-lg {
    padding-top: cl(125px, 300px);
    padding-bottom: cl(125px, 300px);
  }

  &-xl {
    padding-top: cl(125px, 300px);
    padding-bottom: cl(125px, 300px);
  }
}

@include media-breakpoint-up(lg) {
  .ml-md-n25 {
    margin-left: -25%;
  }

}

hr.vertical {
  @extend .my-0;
  border: 0 !important;
  position: relative;
  height: 100%;
  @extend .py-2;
  @extend .py-md-0;
  @extend .px-md-2;


  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $secondary;
    @include media-breakpoint-up(md) {
      width: 1px;
      height: 100%;
    }
  }

}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@include media-breakpoint-down(md) {
  .img-absolute {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

}

section {
  position: relative;
}

.object-fit-cover {
  object-fit: cover;
}

.pattern {
  width: cl(93px, 186px);

  &-md {
    width: cl(90px, 160px)
  }

  &-lg {
    width: cl(100px, 210px)
  }
}


.bg-gradient-secondary-white {
  background: linear-gradient(0deg, $secondary 0 100%);


  @media only screen and (min-width: 992px) {
    background: linear-gradient(0deg, #fff 0 20%, $secondary 20% 100%);

  }
}


.bg-secondary, .bg-gradient-secondary-white {
  * {
    color: #fff;
  }
}


.btn-outline-light:hover {
  color: $secondary !important;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.grid_projects {
  .card {
    cursor: pointer;
    position: relative;

    &::before {
      transition: 250ms background-color ease-in-out;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($secondary, 0);
    }
    &:hover {
      &::before {
        background-color: rgba($secondary, 0.6);
      }
      .card-body {
        @extend .opacity-100;
      }
    }
  }
}

.ty-n50 {
  transform: translateY(-50%);
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 3rem;
}

.col-inner {
  position: relative;

  p:last-child {
    margin-bottom: 0 !important;
  }
}

.home main {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    > section:not(section[class^="order"]) {
      order: 3;
    }
  }

}


@include media-breakpoint-only(md) {
  .card.flex-lg-column {
    .card-img-top {
      width: 50% !important;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem;
    }
  }
}

.background_behind_primary {
  filter: drop-shadow(-21px 21px 0px #F7EDE4);
}

.background_behind_secondary {
  filter: drop-shadow(-21px -21px 0px $secondary);
}

input, textarea, select, option, label, ::placeholder {
  @extend .text-secondary;
}

.bg-secondary {
  input, textarea, select, option, label, ::placeholder {
    @extend .text-primary;
  }

  input[type="submit"] {
    @extend .btn-outline-primary;

    &:hover {
      color: white !important;
    }
  }

  input:not([type="submit"]):not([type="file"]), textarea {
    border-bottom: 1px solid $primary !important;
  }
}

.btn-outline-primary:hover {
  color: $secondary !important;
}

label {
  @extend .fw-700;
}

form {
  max-width: 750px;
  @extend .mx-auto;
}

.your-message textarea {
  max-height: 130px;
}


.mw-lg-365 {
  max-width: 540px;
  @include media-breakpoint-up(lg) {
    max-width: 365px;
  }

}

.form-control {
  border: none;
}

input:not([type="submit"]):not([type="file"]), textarea {
  border: none;
  border-bottom: 1px solid $secondary !important;
}

input[type="submit"] {
  @extend .btn-outline-secondary;

  &:hover {
    color: white !important;
  }
}

.mw-575 {
  @include media-breakpoint-up(lg){
    max-width: 575px;
  }

}

.modal-header, .modal-footer {
  border: 0;
}

.border-bottom-primary {
  @extend .border-bottom;
  border-color: $primary !important;
}

.close {
  span {
    font-size: 3rem !important;
  }
}

.modal-open {
  .modal {
    z-index: 1050;
  }
}

.modal {
  z-index: -1;
}


.slick-counter {
  line-height: 50px;
  @extend .d-flex;
  gap: 12px;
}

.slick-track {
  @extend .h-100;
}

[data-content="galerie"] {
  display: flex !important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 100;
}

.card-body {
  transition: 250ms opacity ease-in-out;
}

.previous,
.next {
  cursor: pointer;
  transition: 250ms opacity ease-in-out;
  &:hover {
    opacity: 0.75;
  }
}

.menu a:hover {
  transition: 250ms color ease-in-out;
  @extend .text-primary;
}

.ml-lg-50vw {
  @include media-breakpoint-up(lg){
    margin-left: calc(((100vw - 1440px) / 2) + ((1440px - 1200px) / 2)) !important;
  }


}
.slick-list {
  @extend .w-100;
}
.modal.bg-white {
  background-color: rgba(37, 41, 49, 0.4) !important;
}
.modal-content {
  background-color: transparent !important;
}

.modal {
  .border-left {
    border-color: #fff !important;
  }
}

.mh-50vh {
  max-height: 50vh;
}

.slick-dotted.slick-slider {
  @extend .mb-0;
}


.slider_slide img {
  @extend .w-100;
}


.mw-1310 {
  max-width: 1310px;
}

.bg-gradient-secondary-top-bottom-white {
  background: linear-gradient(0deg,#fff 0 20%,$secondary 20% 80%, #fff 80% 100%);
  //margin-left: calc(((100vw - 1440px) / 2) + ((1440px - 1200px) / 2)) !important;

}


[data-content="architecte"] {
  &::before {
    content: 'Architecte:';
    display: inline-block;
    padding-right: 5px;
    @extend .fw-700;
  }
}


.has-content + .d-none {
  display: block !important;
}

#realisations {
  position: relative;
}

.testimonials {
  .slick-slide {
    @include media-breakpoint-up(lg){
      padding: 0 60px;
    }

  }
  .slick-track {
    margin-left: -15px;
    margin-right: -15px;
    @include media-breakpoint-up(lg){
      margin-left: -60px !important;
      margin-right: -60px !important;
    }


    .slick-current{
      @include media-breakpoint-up(lg){
        &::after {
          position: absolute;
          top: 30px;
          right: 0;
          content: '';
          width: 1px;
          height: 100%;
          background: #252931;

        }
      }

    }
  }


}


.mw-920 {
  max-width: 920px;

}

footer {
  border-top: 1px solid white;
}
