
.display-1 {
  font-size: cl($display1-size - 25px, $display1-size);  //-18px
}

.display-2 {
  font-size: cl($display2-size - 22px, $display2-size);
}

.display-3 {
  font-size: cl($display3-size - 22px, $display3-size);
}

.display-4 {
  font-size: cl($display4-size - 20px, $display4-size);
}

.display-5 {
  font-size: cl($display5-size - 14px, $display5-size);
  line-height: $headings-line-height;
}

.display-6 {
  font-size: cl($display6-size - 10px, $display6-size);
  line-height: 1.25;
}

.display-7 {
  font-size: cl($display7-size - 7px, $display7-size);
  line-height: 1.25;
}

.display-8 {
  font-size: cl($display8-size - 5px, $display8-size);
  line-height: 1.25;
}

.display-9 {
  font-size: cl($display9-size - 4px, $display9-size);
  line-height: 1.25;
}

.display-10 {
  font-size: cl($display10-size - 2px, $display10-size);
  line-height: $headings-line-height;
}

.display-11 {
  font-size: cl($display11-size - 1px, $display11-size);
  //line-height: $headings-line-height;
}

.display-12 {
  font-size: $display12-size;
  //line-height: $headings-line-height;
}

.display-13 {
  font-size: $display13-size;
  //line-height: $headings-line-height;
}

.display-14 {
  font-size: $display14-size;
  //line-height: $headings-line-height;
}

.display-15 {
  font-size: $display15-size;
  //line-height: $headings-line-height;
}

.display-16 {
  font-size: $display15-size;
  //line-height: $headings-line-height;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight:300;
}

.fw-400 {
  font-weight:400;
}

.fw-500 {
  font-weight:500;
}

.fw-600 {
  font-weight:600;
}

.fw-700 {
  font-weight:700;
}

.fw-800 {
  font-weight:800;
}


