@import "~bootstrap/scss/functions";

//colors
$primary: #bf9878;
$secondary: #252931;
$gray: #7f8588;
$light: #f7f8fa;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  gray: $gray,
  light: $light
);

//layout

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1450px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);
$spacer: 1rem;
$spacers: ();

$spacers: map-merge(
    (
      0: 0,
      1: ($spacer * .25),
      2: ($spacer * .5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 3),
      6: ($spacer * 4),
      7: ($spacer * 5),
      8: ($spacer * 6),
      9: ($spacer * 7),
      10: ($spacer * 8)
    ),
    $spacers
);



$max-view-width: 1440px;



//nav

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

//type

$font-family-sans-serif: "Manrope", sans-serif;
$h1-font-size: 70px;
$h2-font-size: 60px;
$h3-font-size: 50px;
$h4-font-size: 33px;
$h5-font-size: 25px;
$h6-font-size: 20px;
$display1-size: 70px;
$display2-size: 60px;
$display3-size: 56px;
$display4-size: 50px;
$display5-size: 44px;
$display6-size: 40px;
$display7-size: 33px;
$display8-size: 30px;
$display9-size: 24px;
$display10-size: 22px;
$display11-size: 20px;
$display12-size: 18px;
$display13-size: 17px;
$display14-size: 16px;
$display15-size: 15px;
$display16-size: 14px;
$headings-line-height: 1.08;
$headings-margin-bottom: 1rem;
$line-height-lg: 1.5;
$line-height-sm: 1.5;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.5;
$paragraph-margin-bottom: 1rem;
$enable-prefers-reduced-motion-media-query: false;
$hr-border-color: $secondary;
$hr-border-width: 1px;

//button

$input-btn-padding-y: .775rem;
$input-btn-padding-x: 1.875rem;
$input-btn-focus-width: .2rem;
//$input-btn-focus-color:       rgba($component-active-bg, .25);
//$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm: .25rem;
$input-btn-padding-x-sm: .5rem;

$input-btn-padding-y-lg: .5rem;
$input-btn-padding-x-lg: 1rem;
$btn-border-radius: 0;
$btn-font-weight: $font-weight-bold;
$input-btn-border-width: 2px;
$border-color: $secondary;


//form

$input-border-radius: 0;
$input-bg: transparent;
$input-box-shadow: none;
$input-border-radius: 0;
$input-color: $secondary;
$input-border-color: $secondary;
$input-focus-bg: transparent;
$input-focus-border-color: $secondary;
$input-focus-color:  $secondary;
$input-focus-box-shadow: none;
$input-placeholder-color: #fff;
$input-plaintext-color: #fff;
$input-font-weight: 700;
$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                      0;


//modal

$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          100%;
$modal-sm:                          300px !default;
$modal-content-border-radius: 0;
$modal-content-bg:                  #fff !default;
$modal-content-border-color:        rgba(#000, .2) !default;
$modal-content-border-width:  0;
$modal-inner-padding:               1rem !default;
$modal-dialog-margin:               0;
