.menu {
  @extend .nav;
  @extend .navbar-nav;

  li {

    @extend .nav-item;

    position: relative;

    &.current-menu-item {
      a {
        font-weight: 800;
        @extend .text-primary;
      }
    }
  }

  a {
    color: #fff;
    transition: 250ms all ease-in;
    @extend .text-uppercase;
    font-weight: 500;
    font-size: 15px;
    @extend .nav-link;
  }

}

header {
  .menu {
    li {
      @extend .d-flex;
      @extend .align-items-center;
      @extend .justify-content-center;
    }
  }
}

@media only screen and (min-width: 991.98px) {
  header {
    .menu {
      li {
        &:not(:last-child)::after {
          content: '';
          width: 1.5px;
          transform: skewX(-15deg);
          height: 20px;
          margin-left: 5px;
          margin-right: 5px;
          background: white;
        }
      }
    }

  }

}


@media only screen and (max-width: 992px) {
  .collapse:not(.show) {
    display: none !important;
  }
}


#navbarNav {
  //display: flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}


@include media-breakpoint-down(md) {
  .navbar-toggler[aria-expanded=false] {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='34.0013' height='2.15809' fill='%23F7F8FA'/%3E%3Crect y='22.6599' width='34.0013' height='2.15809' fill='%23F7F8FA'/%3E%3Crect y='11' width='34.0013' height='2.15809' fill='%23F7F8FA'/%3E%3C/svg%3E%0A");
    }
  }

  .navbar-toggler[aria-expanded=true] {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg width='38' height='27' viewBox='0 0 38 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.40761' y1='26.1943' x2='35.4076' y2='1.19435' stroke='%23F7F8FA' stroke-width='2'/%3E%3Cline y1='-1' x2='42.2019' y2='-1' transform='matrix(-0.805651 -0.59239 -0.59239 0.805651 36 27)' stroke='%23F7F8FA' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
  }

  .navbar-toggler {
    z-index: 9;
    outline: 0;
  }
  .navbar-toggler:focus-visible {
    border: 0;
    outline: 0;
  }

  #navbarNav {
    //position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    //height: 100vh;
    z-index: 2;
    background: $secondary;
  }
}

@include media-breakpoint-up(lg) {
  .nav > .menu-item:last-child a {
    padding-right: 0 !important;
  }
}


.navbar {
  padding: 0 !important;
}

#primary-navigation {
  @include media-breakpoint-down(lg){
    padding-top: 2rem;
  }
}
